<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.etecmam.etecmamapp">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo_app_etec"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_app_etec"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- NOTIFICACAO PUSH -->
        <service android:name=".notificacao.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".notificacao.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".ContatoActivity"></activity>

        <service
            android:name=".sms.Servico"
            android:enabled="true" />

        <activity android:name=".SobreActivity" />
        <activity
            android:name=".CursoActivity"
            android:parentActivityName=".CursosActivity" />
        <activity
            android:name=".VestibulinhoActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".EscolaActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".CursosActivity"
            android:parentActivityName=".MenuActivity" />
        <activity android:name=".MenuActivity" />
        <activity
            android:name=".InicioActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>